#main_title{
    background:linear-gradient(#B8E5EA 0%,#B8E5EA 95%,#154B67 100%) ;
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}


.logo{
   height: 50px;
   width: 50px;
   border-radius: 50%;
  
}


/*
nav{
   background-color: #154B67;
   width: 100%;
  

}
  
ul {
   list-style: none;
   font-size:0 
}
li{
   display: inline-block;
   width: 20%;
   position:relative;
   font-size: 25px

}
ul ul {
   position: absolute;
   display: none;
}
ul ul li {
   display: block;
}
ul li:hover ul {
   display:block;
}
*/
/* termina header */

body{
   background-color: #B8E5EA;
   
   
   
}

.indexcontainer{
   height: auto;
   display: grid ;
   grid-template-columns: 25fr 25fr 25fr 25fr;
   grid-template-rows: auto auto auto auto auto;
   grid-template-areas: 

    "header header header header"
    "a a a a"
    "b b b b"
    "c c c c"
    "footer footer footer footer"
    ;
   
}

header{
grid-area: header ;


}

.titleContainer{
   align-self: center;

}

.title{
   font-size: larger;
   text-align: center;
}



#beneficios__container {
   background-color: #F1C00C ;
   width: 100%; 
   display: flex;
   flex-direction: column;
   padding-top: 100px;
   padding-bottom: 100px;
   grid-area: a ;

}

#tarjetasBox{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   
   
}

.tarjetaBen{
   padding: 20px;
   background-color:#F17B0D;
   display: none;
   
}

.tarjetaBen:hover{
   transform: scale(1.1);
   transition: .3s;
   background-color: #faeee7;
}

.textoBen{
   font-size: medium;
   text-align: center;

}

.slidercel{
   display: block;
}

#Promociones_inicio{
   background-color: #ff5900 ;
   display: flex;
   flex-direction:column;
   align-items: center;
   grid-area: b;
   padding-top: 20%;
   padding-bottom: 20%;
  
}
#carouselpromo{
   width: fit-content;
   height: fit-content;
}


#promoin1{
   padding: 20px;
   background-color:#F1C00C;
   display: none;


}
#promoin1:hover{
   transform: scale(1.1);
   transition: .3s;
   background-color: #faeee7;

}
#promoin2{
   padding: 20px;
   background-color:#F1C00C;
   height: auto;
   width: auto;


}
.imgtarj{
   height: 400px;
   width: auto;
}

#video_container_slide{
   display: none;

}
.videobox{
   padding: 20px;
   background-color:#B8E5EA ;
   
}
footer{
   background-color: #154B67;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   grid-area: footer ;
}
.Instagram{
   height: 50px;
   width: 50px;
}

@media only screen and (min-width:1280px){
   .logo{
      height: 150px;
      width: 150px;
      border-radius: 50%;
   }

   #main_title{
      background:linear-gradient(#B8E5EA 0%,#B8E5EA 95%,#154B67 100%) ;
      display: flex;
      flex-direction:column;
      align-items: center;
   }
   .tarjetaBen{
      display: inline;
   }
   .slidercel{
      display: none;
   }
   
   #carouselpromo{
      display: none;
   }

  #promoin1{
   display: inline;
  }
  #Promociones_inicio{
   background-color: #ff5900 ;
   display: flex;
   flex-direction:row;
   justify-content: space-around;
   padding-top: 100px;
   padding-bottom: 100px;
   grid-area: b ;

   }
  #video_container_slide{
   display: flex;
   flex-direction:row;
   background-color: #ff003c ;
   justify-content: space-around;
   padding-top: 100px;
   padding-bottom: 100px;
   grid-area: c;
  }

  .Instagram{
   height: 150px;
   width: 150px;
   }

}




/* Inicia css hoteles */
.hotelescontainer{
   height: auto;
   display: grid ;
   grid-template-columns: 25fr 25fr 25fr 25fr;
   grid-template-rows: auto auto auto auto auto;
   grid-template-areas: 

    "header2 header2 header2 header2"
    "a2 a2 a2 a2"
    "b2 b2 b2 b2"
    "c2 c2 c2 c2"
    "d2 d2 d2 d2"
    "footer footer footer footer"
    ;

}
.headerhoteles{
grid-area: header2;
}

.destinos__principales{
   display: none;
   grid-area: a2 ;

}

.destinos__box{
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   padding: 40px;

}

.tarjeta__dest{
   padding: 40px;
   background-color:#f5861f;
   width: 400px;;
   border-radius: 15px;
   

}
.tarjeta__dest:hover{
   transform: scale(1.1);
   transition: .3s;
   background-color: #faeee7;

}

.imgdest{
   height: 300px;
   width: 300px;

}
.textodest{
   font-size: small;
}

.slider__cancun{
   background-color: #ff5900;
   display: flex;
   flex-direction:row;
   justify-content: space-around;
   padding-top: 100px;
   padding-bottom: 100px;
   grid-area: b2 ;
}

.slider_hot{
   height: 400px;
}

.slider__tulum{
   background-color: #B8E5EA;
   display: flex;
   flex-direction:row;
   justify-content: space-around;
   padding-top: 100px;
   padding-bottom: 100px;
   grid-area: c2;

}
.slider__playa{
   background-color: #ff003c;
   display: flex;
   flex-direction:row;
   justify-content: space-around;
   padding-top: 100px;
   padding-bottom: 100px;
   grid-area: d2;

}
@media only screen and (min-width:1280px){
   .destinos__principales{
      background-color: #F1C00C;
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      padding-bottom: 100px;
      grid-area: a2 ;
   
   }

}






/* inicia reserva */

.reservar_container{
   background-color: #F1C00C;
   display: flex;
   flex-direction:row;
   justify-content:space-around;
   padding-top: 100px;
   padding-bottom: 100px;
}

.reservaimg{
   height: 400px;
   width: auto;

}

.calendario_reserva{
   background-color: #F17B0D;
   display: flex;
   flex-direction:row;
   justify-content:space-around;
   padding-top: 100px;
   padding-bottom: 100px;

}
.dudas{
   background-color: #ff003c;
   display: flex;
   flex-direction:row;
   justify-content: space-around;
   padding-top: 100px;
   padding-bottom: 100px;
}
/* inicia internacional */
