@use '_Variables' as c;

footer{
    background-color: map-get(c.$colores, "Mar" );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: footer ;

   
}
.Instagram{
    height: 50px;
    width: 50px;
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
   
}