


header{
    grid-area: header ;
    
   
}


#main_title{
    background:linear-gradient(#B8E5EA 0%,#B8E5EA 95%,#154B67 100%) ;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
    
   

}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}