@use'_Variables' as c;


header{
    grid-area: header ;
    
   
}


#main_title{
    background-color: map-get(c.$colores, "Cielo" );
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border: solid 10px #154B67;
    
    
   

}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}