@use '_Variables' as c;

.hotelescontainer{
    height: auto;
    display: grid ;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
 
     "header header header header"
     "a2 a2 a2 a2"
     "b2 b2 b2 b2"
     "c2 c2 c2 c2"
     "d2 d2 d2 d2"
     "footer footer footer footer"
     ;
 
}
 
.destinos__principales{
    display: none;
    grid-area: a2 ;

    .titleContainer{
        align-self: center;
       
        .title{
           font-size:xx-large;
           text-align: center;
        }
     }
}


.destinos__box{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 40px;

    .tarjeta__dest{
        padding: 40px;
        background-color:map-get(c.$colores, "Medio" );
        width: 400px;;
        border-radius: 15px; 
        &:hover{
        transform: scale(1.1);
        transition: .3s;
        background-color: map-get(c.$colores, "Sobre" );
        }
        
        .imgdest{
            height: 300px;
            width: 300px;
            
            }
    
    } 
    
    .textodest{
        font-size:medium;
        text-align: justify;
        }
}
 




.slider__cancun{
background-color: map-get(c.$colores, "Medio" );
display: flex;
flex-direction:row;
justify-content: space-around;
padding-top: 100px;
padding-bottom: 100px;
grid-area: b2 ;
}



.slider__tulum{
background-color: map-get(c.$colores, "Cielo" );
display: flex;
flex-direction:row;
justify-content: space-around;
padding-top: 100px;
padding-bottom: 100px;
grid-area: c2;

}

.slider__playa{
background-color: map-get(c.$colores, "Abajo" );
display: flex;
flex-direction:row;
justify-content: space-around;
padding-top: 100px;
padding-bottom: 100px;
grid-area: d2;

}