@use '_Variables' as c;

.reservacontenedor{
    height: auto;
    display: grid ;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
 
     "header header header header"
     "a3 a3 a3 a3"
     "b3 b3 b3 b3"
     "c3 c3 c3 c3"
     "footer footer footer footer"
     ;
}
 
.reservar_container{
    background-color: map-get(c.$colores, "Arriba" );
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    grid-area: a3;
}


.calendario_reserva{
    background-color: map-get(c.$colores, "Medio" );
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    grid-area: b3;

    .dropdownreserv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 50px;
    }

}

.dudas{
    background-color: map-get(c.$colores, "Abajo" );
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    grid-area: c3;

    .text_box_calendario{
        display:flex;
        flex-direction: column;
        
        
        .botonenviar{
        height: 120%;
        width: 120%;
        }
    }    



}




