@use'_Variables' as c;

.promocontenedor{
    height: auto;
    display: grid ;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
 
     "header header header header"
     "a5 a5 a5 a5"
     "b5 b5 b5 b5"
     "c5 c5 c5 c5"
     "footer footer footer footer"
     ;
 
 }


 .ultimaspromos{
grid-area: b5;
background-color: map-get(c.$colores, "Arriba" );
display: flex;
flex-direction: row;
justify-content: space-around;
 
}
#carruselpromociones2 {
    display: none;
}

#carruselpromociones3 {
    display: none;
}
.suscribetebox{
grid-area: c5;
background-color: map-get(c.$colores, "Abajo" );
display: flex;
flex-direction: row;
justify-content: space-around;

.tarjetasuscribe{

    width: 60%;
    }
}
